.columns {
  float: left;
  column-count: 3;
}
.center {
  text-align: center;
}
.boxed {
  border-color: black;
}

h2 {
  text-decoration-line: underline;
  color: green;

}
h3 {
  font-style: italic;
  font-weight: bolder;
}
.larger {
  font-size: 25px;
  font-weight: bold;
}
h1{
  font-size: 40px;
  text-decoration: underline;
}
.size {
  font-size: 18px;
}
button[type="button"]{
  background-color: green;
  color: white;
  font-size: 25px;
  border-color: black;
  padding: 15px 15px;
  font-weight: bold;
}
button:hover {
  background-color: black;
}
.underline {
  text-decoration: underline;
}
body {
  background-color: lightblue;
}
